
<div class="d-flex flex-column justify-content-start gap-2">
  <h5>Subscribe to our newsletter</h5>
  <p>Monthly digest of whats new and exciting from us.</p>
 
<%= form_with(model: subscriber) do |f| %>
  <% if subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
        <% subscriber.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-inputs">
      <%= f.label t('subscriber.email') %>
      <%= f.email_field :email, placeholder: t('subscriber.placeholder') , class:'w-100' %>
    </div>
      <% if notice %>
        <div class='invalid-feedback' style="display:block" >
          <%= notice %>
        </div>
    <% end %>
    <div class="form-inputs d-flex justify-content-between align-items-center my-2">
      <% Subscriber::PREFERENCES.each do |key| %>
        <%= f.label key %>
        <%= f.check_box :preferences, { multiple: true}, key, nil %>
      <% end %>
    </div>
    <%= f.submit t('subscriber.submit'), class:"btn btn-primary"%>
  <% end %>

</div>